src/main/app/dataweave-2-201.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="dataweave-2-201Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw1" doc:name="HTTP"/>
        <set-payload value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;weatherdata&gt;
	&lt;location&gt;
		&lt;name&gt;San Francisco&lt;/name&gt;
		&lt;country&gt;US&lt;/country&gt;
	&lt;/location&gt;
	&lt;forecast&gt;
		&lt;time from=&quot;2015-08-22T18:00:00&quot; to=&quot;2015-08-22T18:00:00&quot;&gt;
			&lt;precipitation&gt;None&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;4.6&lt;/measure&gt;
				&lt;description&gt;Light Breeze&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;20&lt;/temprature&gt;
			&lt;clouds&gt;Clear Sky&lt;/clouds&gt;
		&lt;/time&gt;
		&lt;time from=&quot;2015-08-22T21:00:00&quot; to=&quot;2015-08-23T00:00:00&quot;&gt;
			&lt;precipitation&gt;Drizzle&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;6.2&lt;/measure&gt;
				&lt;description&gt;Gusty&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;18&lt;/temprature&gt;
			&lt;clouds&gt;Cloudy&lt;/clouds&gt;
		&lt;/time&gt;
	&lt;/forecast&gt;
&lt;/weatherdata&gt;" encoding="UTF-8" mimeType="application/xml" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Seed Payload in XML"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/dw
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Transform Paylaod in DW"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Transform Payload in JSON"/>
    </flow>
</mule>
