src/main/app/dataweave-2-201.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="dataweave-2-201Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw1" doc:name="HTTP"/>
        <set-payload value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;weatherdata&gt;
	&lt;location&gt;
		&lt;name&gt;San Francisco&lt;/name&gt;
		&lt;country&gt;US&lt;/country&gt;
	&lt;/location&gt;
	&lt;forecast&gt;
		&lt;time from=&quot;2015-08-22T18:00:00&quot; to=&quot;2015-08-22T18:00:00&quot;&gt;
			&lt;precipitation&gt;None&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;4.6&lt;/measure&gt;
				&lt;description&gt;Light Breeze&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;20&lt;/temprature&gt;
			&lt;clouds&gt;Clear Sky&lt;/clouds&gt;
		&lt;/time&gt;
		&lt;time from=&quot;2015-08-22T21:00:00&quot; to=&quot;2015-08-23T00:00:00&quot;&gt;
			&lt;precipitation&gt;Drizzle&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;6.2&lt;/measure&gt;
				&lt;description&gt;Gusty&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;18&lt;/temprature&gt;
			&lt;clouds&gt;Cloudy&lt;/clouds&gt;
		&lt;/time&gt;
	&lt;/forecast&gt;
&lt;/weatherdata&gt;" encoding="UTF-8" mimeType="application/xml" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Seed Payload in XML"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/dw
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Transform Paylaod in DW"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Transform Payload in JSON"/>
    </flow>
    <flow name="dataweave-2-201Flow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw2" doc:name="HTTP"/>
        <set-payload value="[
{
	&quot;item_id&quot;: &quot;B00014WW38&quot;,
	&quot;item_type&quot;: &quot;Chemical Hair Dyes&quot;,
	&quot;item_type_name&quot;: &quot;Naturtint - Permanent Hair Colorant&quot;,
	&quot;item_name&quot;: &quot;Permanent&quot;,
	&quot;item_summary&quot;: &quot;Naturtint 1n Black Ebony Hair Color (1xKit)&quot;,
	&quot;item_brand&quot;: &quot;Naturtint&quot;,
	&quot;image_type_name&quot;: &quot;SmallImage&quot;,
	&quot;url&quot;: &quot;http://x/y/z/small&quot;
},
{
	&quot;item_id&quot;: &quot;B00014WW38&quot;,
	&quot;item_type&quot;: &quot;Chemical Hair Dyes&quot;,
	&quot;item_type_name&quot;: &quot;Naturtint - Permanent Hair Colorant&quot;,
	&quot;item_name&quot;: &quot;Permanent&quot;,
	&quot;item_summary&quot;: &quot;Naturtint 1n Black Ebony Hair Color (1xKit)&quot;,
	&quot;item_brand&quot;: &quot;Naturtint&quot;,
	&quot;image_type_name&quot;: &quot;LargeImage&quot;,
	&quot;url&quot;: &quot;http://x/y/z/large&quot;
},
{
	&quot;item_id&quot;: &quot;B0000YUWXG&quot;,
	&quot;item_type&quot;: &quot;Chemical Hair Dyes&quot;,
	&quot;item_type_name&quot;: &quot;Jerome Russells Hair Color Thickener for Thinning Hair&quot;,
	&quot;item_name&quot;: &quot;Jeromes Thinning  Hair&quot;,
	&quot;item_summary&quot;: &quot;Effectively cover up light  to medium bald spots&quot;,
	&quot;item_brand&quot;: &quot;Jerome Russell&quot;,
	&quot;image_type_name&quot;: &quot;LargeImage&quot;,
	&quot;url&quot;: &quot;http://a/b/c&quot;
}
]" mimeType="application/json" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Seed Payload in Java"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="b4670aa0-3c7e-4ec8-bc75-f3ea26db65fd">
            <dw:input-payload doc:sample="itemsData.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%namespace mes http://www.alainn.com/SOA/message/1.0
%namespace mod http://www.alainn.com/SOA/model/1.0

%output application/xml
---
mes#getItemsResponse: {
	mes#PageInfo: {
    pageIndex: 1,
    pageSize: sizeOf payload
  },
  (payload groupBy $.item_id map {
  	mod#Item: {
  		id: $[0].item_id,
  		type: $[0].item_type_name,
  		name: $[0].item_name,
  		summary: $[0].item_summary,
  		brand: $[0].item_brand,
  		images: {
  			($ map {
  				image: $.url
  			})
  			}
  		}
  	} 		  	
  )
}]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="dataweave-2-201Flow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw3" doc:name="HTTP"/>
        <set-payload value="[
{
	&quot;Date&quot;: &quot;2007-11-6&quot;,
	&quot;Sunshine&quot;: &quot;8.2&quot;,
	&quot;MaxWindSpeed&quot;: 44
},
{
	&quot;Date&quot;: &quot;2007-11-7&quot;,
	&quot;Sunshine&quot;: &quot;8.4&quot;,
	&quot;MaxWindSpeed&quot;: 43
},
{
	&quot;Date&quot;: &quot;2007-11-8&quot;,
	&quot;Sunshine&quot;: &quot;4.6&quot;,
	&quot;MaxWindSpeed&quot;: 41
}
]" encoding="UTF-8" mimeType="application/json" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	weather: {
		city: "SFO",
		forecast: 	payload[0]
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="dataweave-2-201Flow3">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw4" doc:name="HTTP"/>
        <set-payload value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;weatherdata&gt;
	&lt;location&gt;
		&lt;name&gt;San Francisco&lt;/name&gt;
		&lt;country&gt;US&lt;/country&gt;
	&lt;/location&gt;
	&lt;forecast&gt;
		&lt;time from=&quot;2015-08-22T18:00:00&quot; to=&quot;2015-08-22T18:00:00&quot;&gt;
			&lt;precipitation&gt;None&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;4.6&lt;/measure&gt;
				&lt;description&gt;Light Breeze&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;20&lt;/temprature&gt;
			&lt;clouds&gt;Clear Sky&lt;/clouds&gt;
		&lt;/time&gt;
		&lt;time from=&quot;2015-08-22T21:00:00&quot; to=&quot;2015-08-23T00:00:00&quot;&gt;
			&lt;precipitation&gt;Drizzle&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;6.2&lt;/measure&gt;
				&lt;description&gt;Gusty&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;18&lt;/temprature&gt;
			&lt;clouds&gt;Cloudy&lt;/clouds&gt;
		&lt;/time&gt;
	&lt;/forecast&gt;
&lt;/weatherdata&gt;" encoding="UTF-8" mimeType="application/xml" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Seed Payload in XML"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="cae70923-20a6-4bb0-b5ac-7c283ff63547">
            <dw:input-payload doc:sample="weatherData.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
using (w=payload.weatherdata) {
	weather: {
		city: w.location.name,
		forecasts: w.forecast.*time map {
			hour: ($.@from as :datetime).hour,
			wind: $.windSpeed.description,
			temp: $.temprature ++ ' ' ++ $.temprature.@unit
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        </flow>
    <flow name="dataweave-2-201Flow4">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw5" doc:name="HTTP"/>
        <set-payload value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;weatherdata&gt;
	&lt;location&gt;
		&lt;name&gt;San Francisco&lt;/name&gt;
		&lt;country&gt;US&lt;/country&gt;
	&lt;/location&gt;
	&lt;forecast&gt;
		&lt;time from=&quot;2015-08-22T18:00:00&quot; to=&quot;2015-08-22T18:00:00&quot;&gt;
			&lt;precipitation&gt;None&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;4.6&lt;/measure&gt;
				&lt;description&gt;Light Breeze&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;20&lt;/temprature&gt;
			&lt;clouds&gt;Clear Sky&lt;/clouds&gt;
		&lt;/time&gt;
		&lt;time from=&quot;2015-08-22T21:00:00&quot; to=&quot;2015-08-23T00:00:00&quot;&gt;
			&lt;precipitation&gt;Drizzle&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;6.2&lt;/measure&gt;
				&lt;description&gt;Gusty&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;18&lt;/temprature&gt;
			&lt;clouds&gt;Cloudy&lt;/clouds&gt;
		&lt;/time&gt;
	&lt;/forecast&gt;
&lt;/weatherdata&gt;" encoding="UTF-8" mimeType="application/xml" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Seed Payload in XML"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="cae70923-20a6-4bb0-b5ac-7c283ff63547">
            <dw:input-payload doc:sample="weatherData.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
using (w=payload.weatherdata) {
	weather: {
		city: w.location.name,
		forecasts: w.forecast.*time map {
			hour: ($.@from as :datetime).hour,
			wind: $.windSpeed.description,
			temp: $.temprature ++ ' ' ++ $.temprature.@unit
		} filter $.hour > 18
	}
}]]></dw:set-payload>
        </dw:transform-message>
        </flow>
    <flow name="dataweave-2-201Flow5">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/dw6" doc:name="HTTP"/>
        <set-payload value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;weatherdata&gt;
	&lt;location&gt;
		&lt;name&gt;San Francisco&lt;/name&gt;
		&lt;country&gt;US&lt;/country&gt;
	&lt;/location&gt;
	&lt;forecast&gt;
		&lt;time from=&quot;2015-08-22T18:00:00&quot; to=&quot;2015-08-22T18:00:00&quot;&gt;
			&lt;precipitation&gt;None&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;4.6&lt;/measure&gt;
				&lt;description&gt;Light Breeze&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;20&lt;/temprature&gt;
			&lt;clouds&gt;Clear Sky&lt;/clouds&gt;
		&lt;/time&gt;
		&lt;time from=&quot;2015-08-22T21:00:00&quot; to=&quot;2015-08-23T00:00:00&quot;&gt;
			&lt;precipitation&gt;Drizzle&lt;/precipitation&gt;
			&lt;windSpeed&gt;
				&lt;unit&gt;mps&lt;/unit&gt;
				&lt;measure&gt;6.2&lt;/measure&gt;
				&lt;description&gt;Gusty&lt;/description&gt;
			&lt;/windSpeed&gt;
			&lt;temprature unit=&quot;celsius&quot;&gt;18&lt;/temprature&gt;
			&lt;clouds&gt;Cloudy&lt;/clouds&gt;
		&lt;/time&gt;
	&lt;/forecast&gt;
&lt;/weatherdata&gt;" encoding="UTF-8" mimeType="application/xml" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Seed Payload in XML"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="cae70923-20a6-4bb0-b5ac-7c283ff63547">
            <dw:input-payload doc:sample="weatherData.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
using (w=payload.weatherdata) {
	weather: {
		city: w.location.name,
		forecasts: w.forecast.*time map {
			hour: ($.@from as :datetime).hour,
			(wind: $.windSpeed.description) when $.windSpeed.measure > 5,
			temp: $.temprature ++ ' ' ++ $.temprature.@unit
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        </flow>
</mule>
